body{
    margin: 0px auto;
    user-select: none;
    background-color: #ece4d4;
}
img{
    border-radius: 20px;
    box-shadow: 5px 0px 2px rgb(0,0,0,0.2);
    border: solid 10px black;
    width: 360px;
    height: 360px;

}
#diceRollHeader{
    font-size: 48px;
    margin: -5px;
}
.container{
    position: relative;
    display: flex;
    flex-direction: row;
}

.side{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px black;
    width: 100%;
    height: 100vh;
    
}
@media (max-width: 1200px) {
    img{
        width: 350px;
        height: 350px;
    }
    #diceRollHeader{
        font-size: 44px;
    }
}
@media (max-width: 992px){
    img{
        width: 320px;
        height: 320px;
    }
    #diceRollHeader{
        font-size: 40px;
    }
}
@media (max-width: 767px){
    img{
        width: 240px;
        height: 240px;
    }
    #diceRollHeader{
        font-size: 30px;
    }
    .container{
        flex-direction: column;
        height: 100vh;
    }
}
@media (max-width: 767px){
    img{
        width: 120px;
        height: 120px;
    }
    #diceRollHeader{
        font-size: 30px;
    }
    .container{
        flex-direction: column;
    }
}
#win{
    animation-name: win_anim;
    animation-delay: 0.2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#lose{
    animation-name: lose_anim;
    animation-delay: 0.2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#draw{
    animation-name: draw_anim;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes win_anim{
    to {background-color: #5B84B1FF;}
}
@keyframes lose_anim {
    to {background-color: #FC766AFF;}
}
@keyframes draw_anim {
    to {background-color: gray;}
}
@keyframes shake{
    10% {
        transform: rotate(18deg);
    }
    20% {
        transform: rotate(36deg);
    }
    30% {
        transform: rotate(54deg);
    }
    40% {
        transform: rotate(72deg);
    }
    50% {
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(108deg);
    }
    70% {
        transform: rotate(126deg);
    }
    80% {
        transform: rotate(144deg);
    }
    90% {
        transform: rotate(162deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.shaker{
    animation-name: shake;
    animation-duration: 0.25s;
}
